div {
    display: flex;
    justify-content: center;
}
table {
    background-color: aquamarine;
    width: 400px;
    height: 200px;
}
table thead{
    background-color: rgb(90, 181, 151);
}
h1 {
    text-align: center;
    background-color: aquamarine;
    width: 400px;
}
table tbody tr{
    background-color: rgb(108, 217, 180);
}
.headdiv {
    display: flex;
    justify-content: center;
}